@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800 bg-brand-accent;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FEF9E7;
}

::-webkit-scrollbar-thumb {
  background: #FF9933;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8f00;
}